
@model HotelMateWebV1.Models.CinemaModel



@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_LayoutMusic.cshtml";
}


<section id="content" class=" twelve columns">
    <h1 class="page-title ci-title"><span>New Playlist</span></h1>
    <article id="post-16" class="post-16 page type-page status-publish hentry entry group">

        <div class="booking-form-wrap bs bg">

           
                @Html.Partial("_PlayListSelector")
            
        </div>

    </article>
</section>
 
