/*
body
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    color: #333333;
}

p
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    padding-bottom: 3px;
}

li
{
    line-height: 18px;
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #333333;
}

.lihubpage
{
    line-height: 18px;
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    padding-right: 20px;
    padding-bottom: 0px;
    color: #333333;
}

.Intro
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
}

.Summary
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

.FeatureSummary
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

.Fact
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

.Source
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #999999;
    font-weight: normal;
    margin-bottom: 10px;
}

/*
.DropDown
{
    font-family: 'PT Sans', Arial
;
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

.Statistic
{
    font-family: 'PT Sans', Arial
;
    font-size: 30px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    letter-spacing: -3px;
}

*/

/*SJS styling our key fact images */
.KeyFactIcon a.statistic
{
    display: block;
    background: url('Images/KeyStatistic.gif') no-repeat;
    background-position: top right;
    height: 60px;
    width: 85px;
    padding: 5px 0px 0px 0px;
    font-family: 'PT Sans', Arial
;
    font-size: 30px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    letter-spacing: -3px;
    border: none;
}

.KeyFactIcon a.statisticLocked
{
    display: block;
    background: url('Images/KeyStatisticLocked.gif') no-repeat;
    background-position: top left;
    height: 60px;
    width: 85px;
    padding: 8px 0px 0px 10px;
    font-family: 'PT Sans', Arial
;
    font-size: 30px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    letter-spacing: -3px;
    border: none;
}



/*SJS styling our key fact images */

/*
.WelcomeText
{
    font-family: 'PT Sans', Arial
;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    letter-spacing: -2px;
}

.WelcomeTextSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}


.WhiteText
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

.WhiteTextBold
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    font-weight: bold;
}

.GreyTextSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #666666;
    font-weight: normal;
    text-align: left;
    line-height: 13px;
    text-decoration: none;
}

.WhiteTextSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    line-height: 15px;
    text-decoration: none;
}

.ListText
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

.ListTextBold
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #333333;
    font-weight: bold;
    text-align: left;
}

.SmallText
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #666666;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    line-height: 14px;
}

.SmallTextBold
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    line-height: 14px;
}

.PageTitle
{
    font-family: 'PT Sans', Arial
;
    font-size: 40px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: -2px;
}

.PageSubTitle
{
    font-family: 'PT Sans', Arial
;
    font-size: 28px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    line-height: 45px;
    letter-spacing: -2px;
}

.ReportTitle
{
    font-family: 'PT Sans', Arial
;
    font-size: 32px;
    color: #666666;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    line-height: 32px;
    letter-spacing: -1px;
}

.ReportSummary
{
    font-family: 'PT Sans', Arial
;
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    line-height: 18px;
    letter-spacing: -1px;
}

.Section
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #000000;
    font-weight: normal;
    text-align: left;
    font-weight: bold;
    letter-spacing: -1px;
}

.SectionHeaderWhite
{
    font-family: 'PT Sans', Arial
;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

.ContentBoxHeader
{
    clear: both;
    float: left;
    width: 387px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'PT Sans', Arial
;
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
}

.ContentBoxHeaderLarge
{
    font-family: 'PT Sans', Arial
;
    font-size: 16px;
    color: #ffffff;
    line-height: 18px;
    font-weight: bold;
}

.IntroContent
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #333333;
    font-weight: normal;
    text-align: left;
    line-height: 16px;
}

.ContentTitle
{
    font-family: 'PT Sans', Arial
;
    font-size: 23px;
    line-height: 24px;
    color: #455c79;
    font-weight: bold;
    text-align: left;
    padding-bottom: 4px;
}

.ErrorText
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #cc0000;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

*/
/*------------------Reports-----------------------*/

/*
.MRContentTitle
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    line-height: 22px;
    color: #455c79;
    font-weight: bold;
    text-align: left;
    padding-bottom: 4px;
}

.GreyTextHeader
{
    font-family: 'PT Sans', Arial
;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

.ChapterLink
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #336699;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

.ChapterLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #336699;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
}

.LeftHandLinkName
{
    font-family: 'PT Sans', Arial
;
    font-size: 17px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    font-weight: bold;
}

.LeftHandLinkDate
{
    font-family: 'PT Sans', Arial
;
    font-size: 11;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
}
*/
/****************************** end of Reports */

/*------------------footer-----------------------*/

/*
.FooterTitle
{
    font-family: 'PT Sans', Arial
;
    color: #dce1e8;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.FooterLink
{
    font-family: 'PT Sans', Arial
;
    color: #FFFFFF;
    font-size: 11px;
    cursor: pointer;
    line-height: 15px;
    text-decoration: none;
    font-weight: normal;
}

.FooterLink:hover
{
    font-family: 'PT Sans', Arial
;
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    line-height: 15px;
}

.FooterLink:active
{
    font-family: 'PT Sans', Arial
;
    color: #666666;
    font-size: 11px;
    text-decoration: underline;
    background: #ffffff;
    cursor: pointer;
    line-height: 15px;
}

.FooterLinkBold
{
    font-family: 'PT Sans', Arial
;
    color: #FFFFFF;
    font-size: 11px;
    cursor: pointer;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
}

.FooterBold
{
    font-family: 'PT Sans', Arial
;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
}

.FooterLinkBold:hover
{
    font-family: 'PT Sans', Arial
;
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
}

.FooterLinkBold:active
{
    font-family: 'PT Sans', Arial
;
    color: #666666;
    font-size: 11px;
    text-decoration: underline;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
}

*/
/****************************** end of Footer */

/*------------------header-----------------------*/

/*
.HeaderLink
{
    font-family: 'PT Sans', Arial
;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 3px 0px 3px;
}

.HeaderLink:hover
{
    font-family: 'PT Sans', Arial
;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
    padding: 1px 3px 0px 3px;
}

.HeaderLink:active
{
    font-family: 'PT Sans', Arial
;
    color: #0099cc;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
    padding: 1px 3px 0px 3px;
}

.HeaderLinkOn
{
    font-family: 'PT Sans', Arial
;
    color: #0099cc;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 3px 0px 3px;
}

.HeaderLinkOn:hover
{
    font-family: 'PT Sans', Arial
;
    color: #0099cc;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
    padding: 1px 3px 0px 3px;
}

.HeaderLinkOn:active
{
    font-family: 'PT Sans', Arial
;
    color: #006699;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
    padding: 1px 3px 0px 3px;
}

.HeaderText
{
    font-family: 'PT Sans', Arial
;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 1px 0px 3px;
}

*/
/****************************** end of Header */



/*------------------BreadCrumb-----------------------*/
/*
.BreadCrumbCurrent
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    font-weight: normal;
}

.BreadCrumbCurrent:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    cursor: default;
}

.BreadCrumb
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
    text-decoration: underline;
}

.BreadCrumb:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #333333;
    text-decoration: underline;
}

*/
/****************************** end of BreadCrumb */

/*------------------SearchText-----------------------*/
.SearchText
{
    font-family: 'PT Sans', Arial
;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    font-weight: normal;
}

/****************************** end of SearchText */

/*------------------Links-----------------------*/
/*
a
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: none;
}

a:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
}

a:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #6699cc;
    text-align: left;
    text-decoration: underline;
}

a.BlueLink
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: none;
}

a.BlueLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
}

a.BlueLink:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
    background: #336699;
    text-decoration: underline;
}

a.GreyHeaderLink
{
    font-family: 'PT Sans', Arial
;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

a.GreyHeaderLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 14px;
    color: #666666;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

a.GreyHeaderLink:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 14px;
    color: #666666;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

a.BlueLinkSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #336699;
    text-align: left;
}

a.BlueLinkSmall:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
}

a.BlueLinkSmall:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    background-color: #336699;
    text-align: left;
    text-decoration: underline;
}

a.SectionHeaderBlue
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #003366;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

a.SectionHeaderBlue:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #003366;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

a.SectionHeaderBlue:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #ffffff;
    background: #003366;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

a.SectionHeaderWhite
{
    font-family: 'PT Sans', Arial
;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

a.SectionHeaderWhite:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

a.SectionHeaderWhite:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}


a.BlueLinkBold
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    font-weight: bold;
    text-decoration: none;
}

a.BlueLinkBold:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    font-weight: bold;
    text-decoration: underline;
}

a.BlueLinkBold:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    background: #336699;
    font-weight: bold;
    text-decoration: underline;
}

/*
a.BlueLinkUnderlined
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

a.BlueLinkUnderlined:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

a.BlueLinkUnderlined:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
    text-decoration: underline;
    background-color: #336699;
    cursor: pointer;
}


.BlueLinkBoldButton
{
    cursor: pointer;
    cursor: hand;
    background: transparent;
    border: 0;
    display: inline;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    width: 255px;
}

.BlueLinkBoldButton:hover
{
    text-decoration: underlined;
}

a.AZBlueLink
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #0099cc;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

a.AZBlueLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #3399cc;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
}


a.BlueLinkMedium
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: none;
}

a.BlueLinkMedium:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
}

a.BlueLinkMedium:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    background: #336699;
    text-align: left;
    text-decoration: underline;
}


a.BlueLinkLarge
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #336699;
    text-align: left;
    text-decoration: none;
}

a.BlueLinkLarge:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #336699;
    text-align: left;
    text-decoration: underline;
}

a.BlueLinkLarge:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #ffffff;
    background: #336699;
    text-align: left;
    text-decoration: underline;
}

a.BlueLinkLarger
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #336699;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

a.BlueLinkLarger:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #336699;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

a.BlueLinkLarger:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 18px;
    color: #ffffff;
    background: #336699;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

a.BlueLinkLargeBold
{
    font-family: 'PT Sans', Arial
;
    font-size: 19px;
    color: #336699;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

a.BlueLinkLargeBold:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 19px;
    color: #336699;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

a.BlueLinkLargeBold:active
{
    font-family: 'PT Sans', Arial
;
    font-size: 19px;
    color: #ffffff;
    background: #336699;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

a.GreyLinkSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #333333;
    text-align: left;
}

a.GreyLinkSmall:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #333333;
    text-align: left;
    text-decoration: underline;
}



a.WhiteLinkLarge
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

a.WhiteLinkLarge:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    text-decoration: underline;
}

a.WhiteLinkSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

div.WhiteLinkSmall
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

a.WhiteLinkSmall:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    text-align: left;
    text-decoration: underline;
}


a.ErrorLink
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #cc0000;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
}

a.ErrorLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ff0000;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
}

a.FactLink
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}

a.FactLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    text-decoration: none;
}

*/
/*------------------Themetabs-----------------------*/

a.TabOff
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a.TabOff:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

a.TabOn
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a.TabOn:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}
/****************************** end of Links */

/*------------------FeatureBox-----------------------*/
.FeatureBoxHeaderText
{
    font-family: 'PT Sans', Arial;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}

.FeatureBoxFooterLink
{
    font-family: 'PT Sans', Arial;
    color: #3399cc;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-image: url('Images/WhiteBackgroundLink.jpg');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    padding-top: 3px;
}

.FeatureBoxFooterLink:hover
{
    font-family: 'PT Sans', Arial;
    color: #3399cc;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.FeatureBoxText
{
    text-align: left;
    font-family: 'PT Sans', Arial;
    color: #666666;
    font-size: 13px;
    line-height: 15px;
}
/****************************** end of FeatureBox */

/*------------------MegaMenu-----------------------*/
.MegaMenuLink
{
    font-family: 'PT Sans', Arial;
    font-size: 13px;
    color: #336699;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
}

.MegaMenuLink:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #336699;
    line-height: 18px;
    text-align: left;
    text-decoration: underline;
}

.MegaMenuLinkLarge
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #336699;
    line-height: 18px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.MegaMenuLinkLarge:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    color: #336699;
    line-height: 18px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

.MegaMenuHeader
{
    text-align: left;
    font-family: 'PT Sans', Arial
;
    color: #739719;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
}
/****************************** end of MegaMenu */

/*------------------LeftNav-----------------------*/
.ContentBoxHeaderText
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: -1px;
}

.LeftNavLinkName
{
    font-family: 'PT Sans', Arial
;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
}

.LeftNavLinkDate
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.LeftNavLinkSection
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}

.LeftNavLinkSection:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 15px;
    text-align: left;
    text-decoration: underline;
    vertical-align: middle;
}

.LeftNavLinkChapter
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: none;
}

.LeftNavLinkChapter:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: underline;
}

.LeftNavLinkChapterOn
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: underline;
    vertical-align: middle;
}

.LeftNavLinkChapterOn:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: underline;
    vertical-align: middle;
}

.LeftNavLinkSubChapter
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: none;
}

.LeftNavLinkSubChapter:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: none;
}

.LeftNavLinkSubChapterOn
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}

.LeftNavLinkSubChapterOn:hover
{
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
    text-decoration: underline;
    vertical-align: middle;
}
/****************************** end of LeftNav */


/*------------------Image Carousel-----------------------*/

.imageContainer
{
    /* height: 200px; */
    width: 963px;
    margin: 0 0 0 0px;
    background: #404040;
    z-index: 0;
    overflow: auto;
    overflow-y: hidden;
}

ul.thumb
{
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 1700px;
}

ul.thumb li
{
    margin: 0;
    padding: 5px;
    float: left;
    position: relative;
    width: 160px;
    height: 110px;
}

ul.thumb li img
{
    width: 150px;
    height: 150px;
    border: 1px solid #303030;
    padding: 0px;
    background: White;
    position: absolute;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
}

ul.thumb li img.hover
{
    /*background: url('Images/thumb_bg.png') no-repeat center center; */
    border: none;
}


.CarouselImage
{
    cursor: pointer;
    cursor: hand;
    width: 150px;
    height: 150px;
    border: 1px solid #303030;
    padding: 0px;
    background: White;
    position: absolute;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
}

/*------------------End Of Image Carousel-----------------------*/



/* ==============================================
					Theme White 
   ============================================== */
#gallery-black
{
    height: 215px;
    width: 100%;
    margin: 0 0 0 0px;
    background: #303030;
    z-index: 0;
    overflow: auto;
    overflow-y: hidden;
}

#gallery-black .imageContainer
{
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 1710px;
}



#gallery-black .image-block
{
    width: 155px;
    margin: 0px 8px;
    float: left;
    height: 250px;
}

#gallery-black .reflection
{
    position: relative;
}

#gallery-black .reflection img
{
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1.05);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv;
    opacity: 0.20;
    filter: alpha(opacity='20');
}

#gallery-black .overlay
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155px;
    height: 250px;
    background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%);
    background-image: -o-linear-gradient(rgba(255,255,255,0) 25%, rgb(255,255,255) 40%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0)));
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0, EndColorStr=#ffffff);
}


#roundedDivReport
{
    padding: 0px 0px 15px 15px;
    margin: 10px 0px 0px 0px;
    background-color: #f7f7f7;
    border-radius: 15px;
    width: 460px;
}


#roundedDivReport h1
{
    font: 25px 'PT Sans', Arial
, Helvetica, sans-serif;
    margin-bottom: 0px;
    color: Gray;
}

#roundedDivReport h2
{
    font: 25px 'PT Sans', Arial
, Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color: Blue;
}

.divDescription
{
    padding: 0px 0px 0px 42px;
}


.divDescription p
{
    font-family: 'PT Sans', Arial
;
    font-size: 13px;
    color: #333333;
}


.divDescription a
{
    margin: 75px 75px 75px 0px;
    color: #336699;
}

.divDescription img
{
    margin: 2px 5px 0px 0px;
    border-style: none;
}


#roundedDivPresentation
{
    padding: 15px 0px 15px 15px;
    margin: 10px 0px 0px 0px;
    background-color: #f7f7f7;
    border-radius: 15px;
    width: 365px;
    float: left;
}


.PresentationPictureDiv
{
    margin-top: 20px;
    width: 305px;
}

.PresentationPictureDiv img
{
    height: 105px;
    width: 125px;
}

.PresentationPictureDiv p
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


#roundedDivPresentation img
{
    margin: 0px 0px 0px 0px;
}

.MegaMenuHeaderSummaries
{
    text-align: left;
    font-family: 'PT Sans', Arial
;
    color: Gray;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}


#MonthlyPresentationLayout
{
    float: left;
    height: 400px;
    width: 735px;
}



#ListViewPresentationContainer
{
    float: left;
    height: 308px;
    width: 763px;
    z-index: 0;
    overflow: auto;
    overflow-y: hidden; /*border-top: 2px solid #f7f7f7;     border-right: 2px solid #f7f7f7;         border-left: 2px solid #f7f7f7;     background-color:#FFFFFF;*/
}

/*#ListViewPresentationContainer .presContainer
{
    float: left;
    list-style: none;
    margin: 0;
    padding:5px 5px 0px 2px;
    width: 900px;
    margin-bottom:15px;   
}*/

.presContainer
{
    float: left;
    list-style: none;
    margin: 0;
    padding: 5px 5px 0px 2px; /*width: 900px;*/
    margin-bottom: 15px;
    height: 300px;
}

.PresentationBottomContainer
{
    clear: both;
    margin: 0px 0px 0px 0px;
    background-color: #E8E8E8;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
    width: 763px;
    height: 70px;
}

#MonthlyPresentationLeftPanel
{
    clear: both;
    float: left;
    width: 70px;
    padding-left: 0px;
    margin: 5px 130px 0px 0px;
}

.PaginationLabel
{
    clear: both;
    float: left;
    width: 30px;
    text-align: left;
    padding-top: 12px;
}


.LargeWidthSingleRow
{
    width: 763px;
    height: 180px;
    overflow: auto;
    overflow-y: hidden;
    list-style: none;
    margin-top: 10px;
}

.LargeWidthDoubleRow
{
    width: 763px;
    height: 330px;
    overflow: auto;
    overflow-y: hidden;
    list-style: none;
    margin-top: 10px;
}


.SmallWidthSingleRow
{
    width: 733px;
    height: 170px;
    overflow: auto;
    overflow-y: hidden;
    list-style: none;
    margin-top: 10px;
}

.SmallWidthDoubleRow
{
    width: 733px;
    height: 310px;
    overflow: auto;
    overflow-y: hidden;
    list-style: none;
    margin-top: 10px;
}

.SnapshotsBox
{
    padding: 5px 5px 5px 15px;
    width: auto;
    list-style: none;
}


.DatalistPagination
{
    clear: both;
    float: left;
    background-color: #DCE1E7;
    color: #808080;
    font-family:'PT Sans', Arial;
    font-size:12px;
    padding-left: 20px;
    font-weight: normal;
    padding-right: 10px;
    padding-bottom: 5px;
    border-top: 1px solid #96A2B7;
}
.DatalistPagination input
{
    vertical-align: middle;
    padding-left: 1px;
}

.PresentationSelectedLabel
{
    color: #666666;
    font-family: 'PT Sans', Arial
;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    text-align: left;
    text-decoration: none;
}

.DatalistchannelPagination
{
    clear: both;
    float: left;
    background-color: rgb(10, 100, 160);
    color: White;
    padding-left: 20px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-right: 10px;
}

