

<div class="row">
    <div class="col-lg-12">
        <p style="color:Red;">Sorry, your access has been denied. You are using an unlicensed version of our software. Please contact your supplier. You'll be redirected to the Log On page in 2 seconds...</p>.
    </div>
</div>


