@model HotelMateWebV1.Models.ItemIndexModel
           
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-head">
    <h2>Items</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Store</a></li>
        <li class="active">Store List</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">

                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table no-border hover">
                            <thead class="no-border">
                                <tr>
                                    <th style="width:25%;"><strong>Name</strong></th>
                                    <th style="width:50%;"><strong></strong></th>
                                </tr>
                            </thead>
                            <tbody class="no-border-y">
                                @foreach (var item in Model.DistributionPoints)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td class="text-center">
                                            <a class="label label-default" href="@Url.Action("DistributeToPoint", "Item", new { id = item.Id, poId = Model.PoId })">
                                                <i class="fa fa-bars"> Distribute To @item.Name</i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

