@model HotelMateWebV1.Models.CorporateModel
<link href="~/css/CoolTable.css" rel="stylesheet" />


<div class="eight columns">

    @if (Model.ItemSaved.HasValue && Model.ItemSaved.Value)
    {
        @Html.Partial("_EntityUpdated", "Company account has been updated.")
    }

    <h1 class="page-title ci-title" style="margin-bottom:10px;"><span>TOP UP COMPANY ACCOUNT</span></h1>

    <article id="post-16" class="post-16 page type-page status-publish hentry entry group">

        <div class="booking-form-wrap bs bg">

            @using (Html.BeginForm("TopUpAccount", "CompanyAccount", FormMethod.Post, new { enctype = "multipart/form-data", @class = "booking-form b-form row" }))
            {
                @Html.Partial("_CompanyAccount")
            }
        </div>

    </article>

</div>






