@model HotelMateWebV1.Models.GuestRoomAccountViewModel


<div class="eight columns">

    <article id="post-16" class="post-16 page type-page status-publish hentry entry group">

        <div class="booking-form-wrap bs bg">
            @using (Html.BeginForm("EDitGuestAccount", "GuestAccount", FormMethod.Post, new { enctype = "multipart/form-data", @class = "booking-form b-form row" }))
            {
                @Html.Partial("_AdjustBillAccount")
            }
        </div>

    </article>

    </div>
