@model string

<div class="ui-state-error ui-corner-all"><p><span class="ui-icon ui-icon-alert" style="float:left;"></span><span class="message-text">
    @Model</span><a class="message-dismiss" href="#">X</a></p></div>
<br />
