@model HotelMateWebV1.Models.GroupBookingViewModel

<div id="hero" class="row">
    <div class="twelve columns">
        <h1 class="page-title ci-title"> <span>Group Booking</span> </h1>
        @Html.Partial("_GroupBookingDisplay") 
    </div>   
</div> <!-- #hero -->




