
<div id="hero" class="row">
    <div class="eight columns">
        <div id="home-slider" class="bs flexslider">
            <ul class="slides">
                <li>
                    <a href="#">
                        <img width="830" height="420" src="~/images/slide0-830x420.jpg" class="attachment-slider_half wp-post-image" alt="Island view" />							<h3>Island view</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="830" height="420" src="~/images/slide1-830x420.jpg" class="attachment-slider_half wp-post-image" alt="Room balcony view" />							<h3>Room balcony view</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="830" height="420" src="~/images/slide2-830x420.jpg" class="attachment-slider_half wp-post-image" alt="Beautiful Sunset" />							<h3>Beautiful Sunset</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="830" height="420" src="~/images/slide3-830x420.jpg" class="attachment-slider_half wp-post-image" alt="Amazing view" />							<h3>Amazing View</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    @Html.Partial("_CheckAvailabilityNew")
</div> <!-- #hero -->



@Html.Partial("_MainSeperator")