<div id="itemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"></h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <input type="hidden" id="itemRowId" value="">
            <div class="control-group">
                <label class="control-label" for="tax1">Tax 1</label>
                <div class="controls">
                    <select name="tax1" id="item_tax">
                        <option value="1">T.V.A 18%</option>
                        <option value="2" selected="selected">VAT</option>
                        <option value="3">GST</option>
                        <option value="4">PVM</option>
                        <option value="5">54</option>
                        <option value="6">IVA</option>
                        <option value="7">Testing</option>
                        <option value="8">abc</option>
                        <option value="9">Houston</option>
                        <option value="10">NS HST</option>
                        <option value="11">TVA 8%</option>
                        <option value="12">No Tax</option>
                        <option value="13">Moms</option>
                        <option value="14">BTW</option>
                        <option value="15">Service Tax  at 3.09%</option>
                        <option value="16">Educational Tax</option>
                        <option value="17">FiveP</option>
                        <option value="18">IVA General</option>
                        <option value="19">income</option>
                        <option value="20">QST</option>
                        <option value="21">GST</option>
                        <option value="22">10% Mwst</option>
                        <option value="23">20% Mwst</option>
                        <option value="24">IRPF</option>
                        <option value="25">More Pay</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="discount">Discount</label>
                <div class="controls">
                    <select name="discount" id="item_discount">
                        <option value="1">No Discount</option>
                        <option value="2" selected="selected">2.5 Percent</option>
                        <option value="3">5 Percent</option>
                        <option value="4">10 Percent</option>
                        <option value="5">Test</option>
                        <option value="6">20%</option>
                        <option value="7">Giảm tiền</option>
                        <option value="8">Prueba</option>
                        <option value="9">Flat Rate - INR 500</option>
                        <option value="10">nand</option>
                        <option value="11">Chrismas discount</option>
                        <option value="12">spa</option>
                        <option value="13">fd</option>
                        <option value="14">asr</option>
                        <option value="15">12</option>
                        <option value="16">STOKIS</option>
                        <option value="17">500</option>
                        <option value="18">SPRING10</option>
                        <option value="19">test</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="serial_no">Serial No</label>
                <div class="controls"> <input type="text" name="serial_no" value="" id="item_serial_no" /> </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="updateRow">Save</button>
    </div>
</div>

