<style>

.chat_boxm {
    display:inline-block;
    border:1px solid Red;
    width:208px;
    margin-left: 1px;
}
.user_boxm {
    display:block;
    padding:2px;
    background-color:#5e75a7;
    color:#fff;
    bottom:0;
}
.user_boxm:hover {
    cursor:pointer;
}
.leftm {
    float:left;
}
.rightm {
    float:right;
}
.clear {
    clear:both;
}
.message_postm {
    border-top:1px solid #EFEFEF;
    display:block;
    padding:5px 3px;
}
.message_textm {
    margin-left:5px;
}
.message_contentm {
    border:1px solid #ddd;
    height:225px;
    overflow-y:scroll;
}
.box_replym {
    border:1px solid #ddd;
}
.text_replym {
    display:block;
    width:99%;
}
.user_imgm {
}
.hide_wrap_boxm {
    height:22px;
    bottom:0;
}
.namem {
    display: block;
    width: 80%;
}
.index_reloadm {
    border: 1px solid #ddd;
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 15.4%;
}
#chat_aream {
    float:right;
}

</style>

<div class="index_reloadm">
    <!--index_reload-->
    <div id="chat_area">
    <div class="chat_boxm main_chat1m" id="chat_id1m">
        <!--chat_box-->
        <div class="user_boxm">
            <div class="namem open_chat1m leftm"> BSide21&trade; Music</div>            
            <div class="closed1m rightm"><img src="../../Images/list-remove.png" alt="close" /> &nbsp;</div>
            <div class="clear"></div>
        </div>
        <div class="wrap_box1m">           
           @* <object width="100" height="100">
		    <param name="movie" value="http://www.youtube.com/v/vYH6Sw3A-BA?hl=en_GB&amp;version=3" />
		    <embed src="http://www.youtube.com/v/vYH6Sw3A-BA?hl=en_GB&amp;version=3" type="application/x-shockwave-flash" width="200" height="190">
	        </object>*@


             <object width="100" height="100">
		    <param name="movie" value="http://www.youtube.com/v/vYH6Sw3A-BA?list=PLBn4G2vwKdjEmLmkMtI4H48G-YtGe2pnh" />
		    <embed src="http://www.youtube.com/v/vYH6Sw3A-BA?list=PLBn4G2vwKdjEmLmkMtI4H48G-YtGe2pnh" type="application/x-shockwave-flash" width="200" height="190">
	        </object>

        </div>
        <!--wrap_box-->
    </div>
    <!--chat_box-->
    
    <!--chat_box-->
</div>
</div>
<!--index_reload-->
