@model HotelMateWebV1.Models.RoomBookingViewModel
<link href="~/css/CoolTable.css" rel="stylesheet" />

<div class="eight columns">

    @Html.Partial("_EntityUpdated", "Guest details has been updated. To Print bill please click or print.")

    <div>
        <table class="striped fixedlayout">
            <thead>
                <tr>
                    <th width="20%">Go Back</th>
                    <th width="40%">Email</th>
                    <th width="40%">Print</th>
                </tr>
            </thead>
            <tbody id="CasesTableBody1">
                <tr>
                    <td class="tth2"><a class="erbEditorDirty buttonDevFirst" href="@Url.Action("Booking", "Home", new { id = Model.GuestId })">Go Back</a></td>
                    <td class="tth2"><a class="erbEditorDirty buttonDevFirst" href="@Url.Action("EmailGuest", "Booking", new { id = Model.GuestId, fileName = Model.FilePath, mode = 0 })">Email</a></td>
                    <td class="tth2"><a class="erbEditorDirty buttonDevFirst" href="@Url.Action("EmailGuest", "Booking", new { id = Model.GuestId, fileName = Model.FilePath, mode = 1 })">Print</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


