@model HotelMateWebV1.Models.SearchViewModel

<div id="hero" class="row">
    <div class="twelve columns">
        @Html.Partial("_RoomsBlockListSameGuestTransfer")
    </div>
</div> <!-- #hero -->


