@using System.Globalization
@using HotelMateWebV1.Helpers
@model HotelMateWebV1.Models.GuestRoomAccountViewModel

<link href="~/css/CoolTable.css" rel="stylesheet" />

<div class="twelve columns">
    <h1 class="page-title ci-title" style="margin-bottom:10px;"><span>Express Checkout</span></h1>
    @Html.Partial("_VisaInterswitch")
</div>
